@import "~bootstrap/scss/bootstrap";

main {
  @extend .container;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  app-profile {
    flex: 1;
  }

  app-project-stream {
    flex: 3;
  }

  @media (max-width: 768px) {
    app-profile, app-project-stream {
      flex-basis: 768px;
    }
  }
}
