<img src="../../../assets/images/profile-image-2.jpeg" alt="profile photo">
<h4>
  {{ 'name' | translate }}
</h4>
<a id="contacts"></a>
<article class="about">
  <span>
    {{ 'years' | translate }}
  </span>
  <span>
    {{ 'numberYearsOld' | translate : { years: 20 } }}
  </span>

  <span>
    Про себе:
  </span>
  <span>
    Захоплююсь програмуванням, дизайном
  </span>

  <span>
    Технології:
  </span>
  <div class="labels">
    <i class="fab fa-html5" tooltip="HTML"></i>
    <i class="fab fa-css3-alt" tooltip="CSS"></i>
    <i class="fab fa-php" tooltip="PHP"></i>
    <i class="fab fa-js-square" tooltip="JavaScript"></i>
    <i class="fas fa-database" tooltip="MySQL, PostgreSQL, SQLite"></i>
    <i class="fas fa-microchip" tooltip="C++"></i>
  </div>

  <span>
    Контакти:
  </span>
  <div class="labels">
    <i class="fab fa-facebook-f" tooltip="Facebook Profile"></i>
    <i class="fas fa-envelope" tooltip="Send email"></i>
    <i class="fab fa-vk" tooltip="VK Profile"></i>
    <i class="fab fa-telegram" tooltip="Telegram Account"></i>
    <i class="fab fa-behance" tooltip="Behance Profile"></i>
    <i class="fab fa-github" tooltip="GitHub Profile"></i>
  </div>
</article>
