<div class="nav-wrapper">
  <nav>
    <a href="mailto:gmastrbit@gmail.com">
      <i class="logo">
        G
      </i>
    </a>
    <section class="for-md">
      <a class="menu-item "
         [attr.href]="item.url"
         *ngFor="let item of menu">
        {{ item.title }}
      </a>
      <a [popover]="language_list" [outsideClick]="true">
        Мова
      </a>
      <ng-template #language_list>
        <div class="language-list">
          <ul>
            <li *ngFor="let language of languages" (click)="setLang(language.code)">{{ language.name }}</li>
          </ul>
        </div>
      </ng-template>
    </section>
    <section class="for-sm">
      <app-glyphicon [name]="collapse ? 'menu-hamburger' : 'remove'"
                     (click)="collapse = !collapse"></app-glyphicon>
    </section>
    <div [class.d-none]="collapse" class="dropdown">
      <a class="menu-item "
         [attr.href]="item.url"
         *ngFor="let item of menu">
        {{ item.title }}
      </a>
      <a [popover]="language_list" [outsideClick]="true">
        Мова
      </a>
    </div>
  </nav>
</div>
<div class="empty-space"></div>
